body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#root {
	width: stretch;
	display: flex;
    align-items: center;
    justify-content: center;
}

*, *::before, *::after {
	box-sizing: inherit;
}