<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<form action="/users" method="GET">
		<fieldset>
			<h2>Login</h2>
			<label for="username"> Username:
				<input id="username" type="text" name="username">
			</label>
			<label for="password"> Password:
				<input id="password" type="password" name="password">
			</label>
			<input type="submit" value="Submit">
			<a href="/register">Create account</a>
		</fieldset>
	</form>
</body>
</html>