body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/* #region login */
fieldset {
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal_head {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

fieldset img {
	width: 50px;
	height: 50px;
}

fieldset input {
	width: 15rem;
}

fieldset input[type=submit] {
	width: 40%;
	height: 8%;
}

.modal_foot {
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
}
/* #endregion */

/* #region image browser */
#search {
	margin: 1% auto;
}

main {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding-top: 3%;
    margin: 0 2%;
}

.card {
	display: flex;
	flex-direction: column;
	height: 200px;
	margin: 0 2%;
    flex: 1;
    align-items: center;
}

.card img {
	/* width: 100%; */
	height: 100%;
	transition: height 0.5s;
}

.card h3 {
	margin: 0;
}

#img-modal {
	z-index: 99;
}
/* #endregion */