body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

fieldset {
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal_head {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

fieldset img {
	width: 50px;
	height: 50px;
}

fieldset input {
	width: 15rem;
}

fieldset input[type=submit] {
	width: 40%;
	height: 8%;
}

.modal_foot {
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
}